<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /booking/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) /Api/booking/index.php?code=$1 [QSA,L]
</IfModule>